.github
.idea
.vscode
node_modules
**/.github
**/.idea
**/.vscode
**/node_modules
**/*.map
**/*.psd
**/*.ai
**/*.sketch
vendor
storage
bootstrap/cache
.env
.env.*
config/hippo/core/config.php
config/hippo/core/ckfinder.php
docker-compose*.yml
secrets/*
!secrets/.gitignore
!secrets/.gitkeep
!secrets/README.md
