.git
.github
.idea
.vscode
node_modules
**/.git
**/.github
**/.idea
**/.vscode
**/node_modules
**/tests
**/test
**/__tests__
**/docs
**/*.map
**/*.psd
**/*.ai
**/*.sketch
vendor
storage
bootstrap/cache
.env
.env.*
config/hippo/core/config.php
config/hippo/core/ckfinder.php
docker-compose*.yml
