LOCAL_IMAGE_NAME=winter-app:local
APP_CONTAINER_NAME=winter-app-local
WEB_CONTAINER_NAME=winter-web-local

LOCAL_DOMAIN=tulutala-local.test
APP_NAME="Winter CMS"
APP_ENV=local
APP_DEBUG=true
APP_URL=https://tulutala-local.test
APP_KEY=
APP_LOCALE=vi

BIND_IP=127.0.0.1
HTTP_BIND_PORT=80
HTTPS_BIND_PORT=443

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=winter
DB_USERNAME=winter
DB_PASSWORD=winter
DB_CONTAINER_NAME=winter-pg-local
DB_EXPOSE_PORT=5433

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_FROM_ADDRESS=noreply@example.com
MAIL_FROM_NAME="${APP_NAME}"

RUN_MIGRATIONS=false
