LOCAL_IMAGE_NAME=winter-app:local
APP_CONTAINER_NAME=winter-app-local
WEB_CONTAINER_NAME=winter-web-local
GITHUB_TOKEN=

LOCAL_DOMAIN=tulutala-local.test
APP_NAME="Winter CMS"
APP_ENV=local
APP_DEBUG=true
APP_URL=https://tulutala-local.test
APP_KEY=
APP_LOCALE=vi

BIND_IP=127.0.0.1
HTTP_BIND_PORT=80
HTTPS_BIND_PORT=443

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=winter
DB_USERNAME=winter
DB_PASSWORD=winter
DB_CONTAINER_NAME=winter-pg-local
DB_EXPOSE_PORT=5433

REDIS_CONTAINER_NAME=winter-redis-local
REDIS_EXPOSE_PORT=6379

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_FROM_ADDRESS=noreply@example.com
MAIL_FROM_NAME="${APP_NAME}"

RUN_MIGRATIONS=false

XDEBUG_MODE=off
XDEBUG_START_WITH_REQUEST=trigger
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
XDEBUG_IDEKEY=VSCODE
XDEBUG_DISCOVER_CLIENT_HOST=0

FILESYSTEM_DISK=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_DEFAULT_REGION=
AWS_URL=
AWS_USE_PATH_STYLE_ENDPOINT=
AWS_ENDPOINT=
HIPPO_CORE_FM_PREFIX=fm
HIPPO_CORE_FM4S_PREFIX=fm4s

MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

GOOGLE_CALENDAR_CREDENTIALS=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=

TELEGRAM_BOT_LINK=
TELEGRAM_BOT_TOKEN=

SOKETI_APP_ID=
SOKETI_APP_KEY=
SOKETI_APP_SECRET=

BROADCAST_DRIVER=
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=
PUSHER_HOST=
PUSHER_PORT=
PUSHER_SCHEME=
PUSHER_USE_TLS=
PUSHER_WS_PATH=

IFLIB_HOST =
IFLIB_TIMEOUT =
IFLIB_SHARED_KEY =

HIP_CORE_API_URL=
HIP_CORE_API_KEY=
HIP_CORE_API_SECRET=

CORE_SYNC_ENABLED=
CORE_FALLBACK_LOGIN_ENABLED=