LOCAL_IMAGE_NAME=winter-app:local
APP_CONTAINER_NAME=winter-app-local
WEB_CONTAINER_NAME=winter-web-local

LOCAL_ENABLE_POSTGRES=true
LOCAL_ENABLE_REDIS=true
LOCAL_EXTERNAL_NETWORK_NAME=my_wintercms_external_backend
LOCAL_EXTERNAL_NETWORK_EXTERNAL=false

APP_CODE_PATH=.
GITHUB_TOKEN=

BIND_IP=127.0.0.1
HTTP_BIND_PORT=80
HTTPS_BIND_PORT=443

DB_CONTAINER_NAME=winter-pg-local
DB_EXPOSE_PORT=5433

REDIS_CONTAINER_NAME=winter-redis-local
REDIS_EXPOSE_PORT=6379
